<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONFIRMAÇÃO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-label>{{valorRange1}}</ion-label>
</ion-item>
<ion-item>
  <ion-label>{{valorRange2}}</ion-label>
</ion-item>
<ion-item>
  <ion-label>{{valorRange3}}</ion-label>
</ion-item>
<ion-item>
  <ion-label>{{valorRange4}}</ion-label>
</ion-item>

<ion-item>
  <ion-label>A media é: {{media}}</ion-label>
</ion-item>

<ion-item *ngIf="abacaxi">
  <ion-label>Abacaxi</ion-label>
</ion-item>
<ion-item *ngIf="banana">
  <ion-label>Banana</ion-label>
</ion-item>
<ion-item *ngIf="cacto">
  <ion-label>Cacto</ion-label>
</ion-item>
<ion-item *ngIf="damasco">
  <ion-label>Damasco</ion-label>
</ion-item>
<ion-item *ngIf="embauba">
  <ion-label>Embaúba</ion-label>
</ion-item>
<ion-item *ngIf="feijao">
  <ion-label>Feijão</ion-label>
</ion-item>
<ion-item *ngIf="goiaba">
  <ion-label>Goiaba</ion-label>
</ion-item>
<ion-item *ngIf="trigo">
  <ion-label>Trigo</ion-label>
</ion-item>
<ion-item *ngIf="uva">
  <ion-label>Uva</ion-label>
</ion-item>
<ion-item *ngIf="tamara">
  <ion-label>Tâmara</ion-label>
</ion-item>

</ion-content>

